body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

form {
  margin-top: 50px;
}

input, button {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

button {
  background: purple;
  color: white;
  border: none;
  cursor: pointer;
}
